<div class="row">
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-6">
                {{gravatar-image email="tomster@emberjs.com" size="200"}}
            </div>
            <div class="col-sm-6">
                {{gravatar-image size="200"}}
            </div>
        </div>
    </div>
</div>

App.GravatarImageComponent = Ember.Component.extend({
  size: 200,
  email: '',

  gravatarUrl: function() {
    var email = this.get('email'),
        size = this.get('size');

    return 'http://www.gravatar.com/avatar/' + window.hex_md5(email) + '?s=' + size;
  }.property('email', 'size')
});